html{
  font-size: 50px;
}

#mobileheader{
  flex: 1;
  background: #f6f6f6;
}

#mobileheader header{
  border-bottom: 1px solid #2db7f5;
  padding-left: 10px;
}

#mobileheader header img{
  height: 50px;
}

#mobileheader header span{
  font-size: 35px;
  vertical-align: top;
  padding-left: 5px;
  color: #2db7f5;
}
