.logo{
  align-items: center;
  display: flex;
}

.logo img{
  width: 48px;
  height: 48px;
}

.logo span{
  font-size: 24px;
  padding-left: 5px;
}

.footer{
	background:#eee;
	padding:20px 0;
  	text-align: center;
}

