extends ../adminFrame
block containerss
	h2.address
		i.fa.fa-home 
		a(href="/admin") 首页 
		span / 
		a 分类管理
	form(action="/admin/cate/add",method="post",style="padding:30px;")
		input(type="hidden",name="category[_id]",value="#{category._id}")
		table.table.table-bordered.insertCont
			tr
				td(width="15%"): label(for="inputTitle") 
					i.require *
					span 分类名:
				td(width="85%")
					input#inputTitle.form-control.col-6(type="text",placeholder="",name="category[name]",value="#{category.name}")
					i.fa.fa-exclamation-circle.yellow
					span.attention 分类名必须填写
			tr
				td
				td: button.btn.btn-primary(type="submit") 录入
