@charset 'utf8';
/*zjf20170925*/
* {font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;-webkit-font-smoothing: antialiased;margin: 0;padding:0;}
a {text-decoration: none;color:#333;}
a:hover {color: #4285f4}
textarea {resize: none;}
img {border:none;}
input,button,input[type="button"] {outline: none;}
button,input[type="button"]  {color:#FFF;background-color: #00baf2;line-height: 30px;border:none;padding:0px 20px;cursor: pointer;}
button:hover,input[type="button"]:hover {opacity: .9;}
img {border:none;}
body{color: #333;font-size: 14px;line-height: 1.75;text-align: left;}
.disabled{background:#999}.del{text-decoration:line-through}.clear{clear:both;width:0;height:0;overflow: hidden;}.clearfix{clear:both}.clearfix:after{display:block;content:'';clear:both}.Left,.fl{float:left}.Right,.fr{float:right}.tl{text-align:left}.tc{text-align:center}.tr{text-align:right}.fb{font-weight:700}.bluebg{background:#00baf2}.blue{color:#00baf2}.redbg{background:#ff4a56}.red{color:#ff4a56}.red:hover{color:#950b11}
.mask, .Mask {width:100%;height:100%;position:fixed;background: url(https://s1.51cto.com/images/201611/95dc798763e7191d096823b51600438a1218c0.png);top:0px;left:0px;z-index:9999;display: none;}
label {margin-bottom: 0 !important;}
.blue-btn {color: #fff;background: #4285f4;border: 1px solid #4285f4;cursor: pointer;}
.disabled-btn {color: #fff;background: #ddd;border: 1px solid #ddd;}
.blue-btn:hover {color: #fff;background: #3c78dc;border: 1px solid #3c78dc;}
.gray-btn {color: #333;background: #fff;border: 1px solid #ccc;cursor: pointer;}
.gray-btn:hover {background: #e6e6e6;color: #000;}
.main-content *, .main-content img {max-width: 100%;}
.editor-side-new * {font-size: 16px;word-break: break-all;}
.editor-side-new * td {max-width: 748px;}
.editor-side-new  blockquote {padding: 0 1rem;margin: 1rem 0;color: #819198;border-left: 0.2rem solid #4285f4;background: #f2f5f9;padding: .8rem 1.2rem;}
.editor-side-new  blockquote h1:last-child,.editor-side-new  blockquote h2:last-child,.editor-side-new  blockquote h3:last-child,.editor-side-new  blockquote h4:last-child,.editor-side-new  blockquote h5:last-child,.editor-side-new  blockquote h6:last-child,.editor-side-new  blockquote li:last-child,.editor-side-new  blockquote ol:last-child,.editor-side-new  blockquote p:last-child,.editor-side-new  blockquote ul:last-child {margin-bottom: 0}
.editor-side-new  blockquote p {font-size: 16px;font-weight: 400;line-height: 1.7}
.white-space {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.mt26 {margin-top:26px;}
.Blog-Left {width: 764px;}
.Blog-Right {position: fixed;left: 50%;bottom: 190px;margin-left: 422px;}
.Blog-Right a {display: block;width: 48px;height: 48px;background-image: url(/edu/blog/images/icon/icon_4.png);background-repeat: no-repeat;}
.Blog-Right .catalog {background-position: left top;display: none;cursor: pointer;}
.Blog-Right .catalog.on, .Blog-Right .catalog:hover {background-position: right top;}
.Blog-Right .scrollTop {background-position: left bottom;margin-top: 12px;display: none;}
.Blog-Right .scrollTop:hover {background-position: right bottom;}
.Blog-Right .update-top {display: none;}
/*目录*/
.directoryBox {position:absolute;bottom:138px;left:0;width: 170px;overflow: hidden;visibility:hidden;}
.directory {width:188px;max-height:318px;margin: 9px 0 9px;overflow-x:hidden;position:relative}
.directory::-webkit-scrollbar{display:none}
.directoryBox .bot-icon,.directoryBox .top-icon{position:absolute;left:0px;display:inline-block;width:9px;height:9px;background:url(/edu/blog/images/icon/24.png) no-repeat;margin-left:6px}
.directoryBox .top-icon{top:0;z-index:1}
.directoryBox .bot-icon{bottom:0;z-index:1}
.directory b {position: absolute;left: 10px;width: 2px;height: 10px;background: #f50;transition: height 5s;-webkit-transition: height .75s;}
.directory .directory-list {width:170px;padding: 15px 0;border-left:1px solid #d5d5d5;margin-left:10px;position:relative;}
.directory .directory-list li{list-style:none;line-height:1;margin-top:18px;padding:0 10px;font-size: 12px;cursor:pointer;color:#999;background:url(/edu/blog/images/dot2s.png) no-repeat;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;/*border-left:2px solid #fff;*/}
.directory .directory-list li:first-child{margin-top:0}
.directory .directory-list li.on,.directory .directory-list li:hover{color:#4285f4;background-image:url(/edu/blog/images/dot2s.png);}
.directory .directory-list li.lv1{background:0 0;font-size: 14px;}
.directory .directory-list li.lv1:first-child {margin-top: 0;}
.directory .directory-list li.lv2{padding-left:26px;background-position:20px center}
.directory .directory-list li.lv3{padding-left:36px;background-position:30px center}
.directory .directory-list .arrow{position: absolute; left: 0px; top: 0px; width: 2px; height: 14px; background: #4285f4; z-index: 2;}
/*赞赏*/
.appreciate-box {margin: 100px auto 70px;text-align: center;}
.appreciate-box h2 {font-size: 18px;color: #3d464d;}
.appreciate-box .appreciate-btn {display: inline-block;width: 76px;height: 76px;text-align: center;line-height: 76px;font-size: 20px;color: #fff;border-radius: 50%;cursor: pointer;margin-top: 18px;background: #ff5f53;}
.appreciate-box .appreciate-btn:hover, .appreciate-box .appreciate-btn.on {background: #de4f43;}
.appreciate-box .appreciate-txt {font-size: 13px;color: #969696;margin-top: 22px;}
.appreciate-header-img {position: relative;display: inline-block;margin-top: 16px;padding-bottom: 20px;}
.appreciate-header-img .a-img {margin-left: 8px;}
.appreciate-header-img img, .hd-more-list img {display: inline-block;width: 36px;height: 36px;border-radius: 50%;}
.appreciate-header-img .appreciate-header-more {float: left;line-height: 34px;padding-left: 14px;margin-left: 21px;font-size: 12px;color: #ababab;background: url(/edu/blog/images/icon/49.png) no-repeat left center;cursor: pointer;}
.appreciate-header-img .appreciate-header-more.on, .appreciate-header-img .appreciate-header-more:hover {color: #666;background: url(/edu/blog/images/icon/49s.png) no-repeat left center;}
.hd-more-box {position: fixed;left: 0;top: 0;width: 100%;height: 100%;text-align: center;background: rgba(255,255,255,0);z-index: 12;visibility:hidden;cursor: pointer;}
.hd-more-list {position: absolute;top: 100%;left: 50%;margin-left: -135px;width: 242px;padding: 20px 6px 20px 20px;text-align: left;background: #fff;border: 1px solid #eee;z-index: 1;cursor: default;}
.hd-more-list .scrollbox .thumb {width: 2px;background: #d9d9d9;}
.hd-more-list .scrollbox .scrollbar {width: 2px;right: 0;}
.hd-more-list .icon {display: inline-block;position: absolute;top: -10px;left: 130px;width: 20px;height: 10px;background: url(/edu/blog/images/icon/50.png) no-repeat;cursor: default;}
.hd-more-list h2 {font-size: 16px;color: #333;cursor: default;}
.hd-more-list .hd-more-list-box {max-height: 350px;overflow-x: auto;}
.hd-more-list a {display: block;line-height: 1;color: #333;margin-top: 20px;}
.hd-more-list a:hover {color: #4285f4;}
.hd-more-list img {margin-right: 16px;vertical-align: middle;}
/*赞赏弹窗*/
.appreciate-nbox {position: fixed;top: 50%;left: 50%;padding: 60px 50px 30px;text-align: center;background: #fff;border-radius: 4px;}
.appreciate-nbox .close {position: absolute;right: 20px;top: 20px;width: 12px;height: 12px;background: url(/edu/blog/images/icon/cls_1.png) no-repeat;}
.appreciate-nbox-1 h2 {font-size: 16px;color: #333;}
.appreciate-nbox-1 .list {margin-left: -10px;padding-top: 40px;}
.appreciate-nbox-1 li {list-style: none;float: left;width: 110px;line-height: 50px;text-align: center;color: #999;background: #eee;margin: 10px;border-radius: 4px;cursor: pointer;}
.appreciate-nbox-1 li.on {color: #fff;background: #ff5f53;}
.appreciate-nbox-1 span {font-size: 24px;}
.appreciate-nbox-1 input {font-size: 18px;color: #666;width: 200px;line-height: 50px;text-align: center;border: 0 none;border-bottom: 1px solid #ccc;margin-top: 30px;}
.appreciate-nbox-1 .msg {font-size: 16px;color: #bfbfbf;margin-top: 10px;}
.appreciate-nbox-1 .error-msg {font-size: 14px;color: #ff5f53;line-height: 20px;height: 20px;}
.appreciate-nbox-1 .appreciate-ajax {width: 280px;height: 47px;text-align: center;line-height: 47px;font-size: 20px;color: #fff;background: #ff5f53;margin: 20px auto 0;cursor: pointer;}
.appreciate-nbox-2 {width: 250px;display: none;margin:0 auto;}
.appreciate-nbox-2 h3 {font-size: 24px;color: #333;line-height: 1;}
.appreciate-nbox-2 img {width: 180px;height: 180px;margin-top: 27px;background: #ddd;}
.appreciate-nbox-2 p {line-height: 16px;}
.appreciate-nbox-2 i {display: inline-block;width: 16px;height: 16px;margin-right: 8px;vertical-align: text-bottom;}
.appreciate-nbox-2 .error-msg {display: none;}
.appreciate-nbox-2 .error-1 {color: #333;margin-top: 10px;}
.appreciate-nbox-2 .error-1 em {font-style: normal;color: #f5a623;}
.appreciate-nbox-2 .error-2 {color: #333;}
.appreciate-nbox-2 .error-2 i {background: url(/edu/blog/images/icon/60.png) no-repeat;}
.appreciate-nbox-2 .error-2 span {font-size: 12px;color: #999;}
.appreciate-nbox-2 .error-3 {color: #333;margin-top: 10px;}
.appreciate-nbox-2 .error-3 i {background: url(/edu/blog/images/icon/59.png) no-repeat;}
/*作者模块*/
.author-module {margin-top: 70px;padding: 35px 22px;background: #f7f7f8;}
.author-module .a-img img {display: block;width: 78px;height: 78px;border-radius: 50%;}
.author-module-center {text-align: left;margin-left: 20px;}
.author-module-center a.h2 {font-weight: normal;font-size: 18px;color: #3d464d;}
.author-module-center a.h2:hover {color: #4285f4;}
.author-module-center h3 {font-weight: normal;font-size: 12px;color: #9d9d9d;}
.author-module-center h4 {font-weight: normal;font-size: 14px;color: #666;}
.author-module-right {margin-top: 23px;}
.author-module-right a {cursor: pointer;}
/*专栏*/
.special-column {background: #f7f7f8;padding: 36px 0 86px;margin-bottom: -50px;}
.special-column .column-tit {font-size: 16px;color: #333;line-height: 1;}
.special-column .column-box {margin-top: 35px;}
.special-column .recommend-cloumn { position: relative;}
.special-column .column-1 .column-box img {display: block;width: 210px;height: 118px;}
.special-column .column-1 .column-box .center {margin-left: 20px;max-width: 400px;}
.special-column .column-1 .column-box .center a.h2, .special-column .column-1 .column-box .center h3, .special-column .column-1 .column-box .center h4 {max-width: 400px;font-weight: normal;}
.special-column .column-1 .column-box .center a.h2 {font-size: 20px;color: #333;display: block;line-height: 30px;}
.special-column .column-1 .column-box .center a.h2:hover {color: #4285f4;}
.special-column .column-1 .column-box .center h3 {font-size: 12px;color: #707070;line-height: 20px;}
.special-column .column-1 .column-box .center h4 {font-size: 12px;color: #999;margin-top: 10px;line-height: 1;}
.special-column .column-1 .column-box .center h4 a {color: #999;}
.special-column .column-1 .column-box .center h4 a:hover {color: #4285f4;}
.special-column .column-1 .column-box .center h5 {margin-top: 20px;}
.special-column .column-1 .column-box .center h5 span {font-size: 12px;color: #9d9d9d;}
.special-column .column-1 .column-box .center .price {color: #3d464d;margin-right: 26px;}
.special-column .column-1 .column-box .right {padding-top: 46px;text-align: right;}
.special-column .column-1 .column-box .right a {display: inline-block;font-size: 16px;color: #fff;background: #2c3031;padding: 0 25px;line-height: 34px;border-radius: 2px;}
.special-column .column-1 .column-box .right a:hover {background: #1e2021;}
.special-column .column-1 .column-box .recommend-cloumn-right { position: absolute; right: 0; text-align: right;}
.special-column .column-2 .column-box a {float: left;width: 360px;color: #666;line-height: 32px;}
.special-column .column-2 .column-box a.left-list {margin-left: 35px;}
.special-column .column-2 .column-box a:hover {color: #4285f4;}
.special-column .column-1 .column-box .right a.presell-color {background:#de2a00;}
.special-column .column-1 .column-box .pre-tips {margin-top: 5px;height: 19px;line-height: 19px;font-size: 14px;color: #000000;}
.special-column .column-1 .column-box .pre-tips>span {color: #DE2A00;}
/*bottom*/
.the-lowest-bg {position: fixed;bottom: 0;left: 0;width: 100%;padding: 20px 0;background: url(/edu/blog/images/icon/bgf90.png);border: 1px solid #e7e7e7;z-index: 1;}
.the-lowest a {display: block;}
.the-lowest p, .the-lowest a, .the-lowest .b-share {font-size: 12px;color: #939393;line-height: 35px;margin-right: 30px;cursor: pointer;}
.the-lowest p:hover, .the-lowest a:hover, .the-lowest .b-share:hover {color: #666;}
.the-lowest p.on, .the-lowest a.on, .the-lowest .b-share.on {color: #ff7f00;}
.the-lowest p i, .the-lowest a i, .the-lowest .b-share i {display: inline-block;width: 22px;height: 20px;margin-right: 4px;vertical-align: middle;background-repeat: no-repeat;}
.the-lowest .is-praise {position: relative;display: inline-block;text-align: center;line-height: 33px; margin-top: 2px;}
.the-lowest .is-praise span{background: url(/edu/blog/images/icon/65.png) no-repeat;color: #999; padding-left: 26px; padding-top:3px;padding-bottom: 1px;}
.the-lowest .is-praise:hover span {background: url(/edu/blog/images/icon/65s.png) no-repeat;color: #666;}
.the-lowest .is-praise.on span{background: url(/edu/blog/images/icon/65es.png) no-repeat;color: #f69400;}
/*.the-lowest .is-praise.on:hover span{background: url(/edu/blog/images/icon/icon_1.png) no-repeat -80px -120px;color: #ff7f00;}*/
.the-lowest .b-favorites i {background-image: url(/edu/blog/images/icon/57.png);margin-top: -4px;}
.the-lowest .b-favorites:hover i {background-image: url(/edu/blog/images/icon/57s.png);}
.the-lowest .b-favorites.on i {background-image: url(/edu/blog/images/icon/57es.png);}
.the-lowest .b-reply i {background-image: url(/edu/blog/images/icon/53.png);}
.the-lowest .b-reply:hover i {background-image: url(/edu/blog/images/icon/53s.png);}
.the-lowest .b-share {position: relative;}
.the-lowest .b-share:hover {padding-right: 140px;}
.the-lowest .b-share i {background-image: url(/edu/blog/images/icon/58.png);}
.the-lowest .b-share:hover i {background-image: url(/edu/blog/images/icon/58s.png);}
.the-lowest .b-share:hover .bdsharebuttonbox {display: block;}
.the-lowest .b-share .bdsharebuttonbox {display: none;position: absolute;top: 0;left: 0;}
.the-lowest .b-share .bds_weixin:hover .code-img, .the-lowest .b-share .bds_weixin:hover .code-icon {display: block;}
.the-lowest .b-share .code-icon {display: none;width: 14px;height: 10px;position: absolute;top: -21px;left: 7px;background: #fff url(/edu/blog/images/icon/51.png) no-repeat;z-index: 1;}
.the-lowest .b-share .code-img {display: none;position: absolute;top: -120px;left: -34px;width: 98px;height: 98px;border: 1px solid #e7e7e7;background: #fff;}
.the-lowest .b-share a {position: absolute;top: 0;width: 32px;height: 32px;padding: 0;margin: 0;background-image: url(/edu/blog/images/icon/icon_5.png);background-repeat: no-repeat;}
.the-lowest .b-share a:hover {background-image: url(/edu/blog/images/icon/icon_5s.png);}
.the-lowest .b-share .p1 {left: 70px;background-position: 0 0;}
.the-lowest .b-share .p2 {left: 110px;background-position: 0 -59px;}
.the-lowest .b-share .p3 {left: 150px;background-position: 0 bottom;}
.the-lowest .b-share .p1:hover {background-position: 0 0;}
.the-lowest .b-share .p2:hover {background-position: 0 -59px;}
.the-lowest .b-share .p3:hover {background-position: 0 bottom;}
.the-lowest .b-fllow {}
.the-lowest .b-fllow a {}
.the-lowest .b-name {color: #929393;margin-right: 0px;line-height: 35px;}
.the-lowest .b-name:hover {color: #4285f4;}
.the-lowest .b-img img {display: block;width: 35px;height: 35px;border-radius: 50%;}
.artical-title-list .is-vip-bg-6 {width: 32px;height: 32px;margin-right: 12px;}
.the-lowest .is-vip-bg-6 {width: 35px;height: 35px;margin-right: 12px;}
.artical-title-list .is-vip-bg-6 i, .the-lowest .is-vip-bg-6 i {right: -5px;}
.artical-title-list .checkFollow-btn {cursor: pointer !important;}
/*面包屑*/
.artical-Left-blog {margin-top: 25px;}
.tab_name {display: inline-block;margin-right: 6px;font-size: 14px;padding: 0 10px;line-height: 27px;border-radius: 1px;}
.tab_name.original {color: #ff7158;background: #f9d3cc;}
.tab_name.translation {color: #f27e4a;background: #fcdcca;}
.tab_name.reprint {color: #5999ff;background: #cddefa;}
/*文章正文*/
.artical-Left {margin: 70px 0 70px 30px;background: #fff;word-break: break-all;}
.artical-content-bak {padding: 20px 0px !important;}
.artical-Right {width: 300px;}
.artical-title {font-size: 36px;line-height: 1.2;font-weight: normal;margin-top: 20px;}
.artical-title span {position: relative;display: inline-block;width: 50px;height: 26px;text-align: center;line-height: 26px;vertical-align: middle;font-size: 16px;color: #ff6600;border: 1px solid #ff6600;border-radius: 4px;margin-left: 20px;}
.artical-title span i {position: absolute;left: -5px;top: 8px;display: inline-block;width: 6px;height: 9px;background: url(/edu/blog/images/icon/20.png) no-repeat;}
.artical-title-list {margin-top: 30px;padding-bottom: 20px;border-bottom: 1px solid #eee;}
.artical-title-list .a-img, .artical-title-list .a-img img {width: 32px;height: 32px;border-radius: 50%;}
.artical-title-list span {width: 2px;height: 2px;background: #bababa;vertical-align: middle;margin: 16px 2px;}
.artical-title-list .name {color: #333;cursor: pointer;margin-right: 8px;line-height: 35px;}
.artical-title-list .name:hover {color: #4285f4;}
.artical-title-list .time {font-size: 12px;color: #bababa;line-height: 35px;cursor: default;}
.artical-title-list .comment {font-size: 12px;color: #bababa;line-height: 35px;cursor: pointer;}
.artical-title-list .read {font-size: 12px;color: #bababa;line-height: 35px;margin: 0 4px 0 16px;cursor: default;}
.incoming {background: #f2f5f9;border-left: 2px solid #4285f4;padding: 10px 16px;line-height: 30px;}
.artical-content {margin-top: 40px;}
.artical-content a {color: #4285f4;}
.artical-content .tit {font-size: 24px;color: #3d464d;}
.artical-content .highlight {background: #f2f5f9;padding: 10px 16px;line-height: 30px;}
.artical-copyright {color: #9fa3a7;line-height: 1;font-size: 12px;}
.artical-copyright a {color: #9fa3a7;}
.artical-copyright a:hover {color: #5386ec;}
.for-tag a {float: left;padding: 0 15px;line-height: 25px;color: #666;background: #efefef;font-size: 12px;margin-right: 8px;border-radius: 10px;}
.for-tag a:hover {background: #e1e1e1;}
.for-tag a.last {float: right;font-size: 12px;background: #fff;padding: 0;margin: 0;}
.for-tag a.last:hover {background: #fff;color: #5386ec;}
.for-tag a.last i {display: inline-block;width: 12px;height: 14px;background: url(/edu/blog/images/icon/icon_1.png) no-repeat left top;vertical-align: middle;margin-right: 6px;/*margin-top: 5px;*/}
.for-tag a.last:hover i {background: url(/edu/blog/images/icon/icon_1.png) no-repeat -40px top;}
.artical-list {margin-top: 50px;}
.artical-list a {font-size: 12px;color: #666;width: 48%;line-height: 1;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.artical-list a:hover {color: #4285f4;}
.artical-list a:first-child {text-align: right;}
.more-list {position: relative;margin-top: 30px;}
.more-list p {line-height: 1.5;cursor: pointer;}
.more-list .is-praise {position: relative;display: inline-block;text-align: center;line-height: 20px;font-size: 12px;}
.more-list .is-praise span{background: url(/edu/blog/images/icon/65.png) no-repeat;color: #999; padding-left: 26px; padding-top:3px;padding-bottom: 1px;}
.more-list .is-praise:hover span {background: url(/edu/blog/images/icon/65s.png) no-repeat;color: #666;}
.more-list .is-praise.on span{background: url(/edu/blog/images/icon/65es.png) no-repeat;color: #f69400;}
/*.more-list .is-praise.on:hover span{background: url(/edu/blog/images/icon/65es.png) no-repeat -80px -120px;color: #ff7f00;}*/
.more-list .ead a,.more-list .ead {color: #666;}
.more-list .ead a:hover {color: #4285f4;}
.more-list .favorites {color: #999;margin-left: 20px;}
.more-list .favorites i {display: inline-block;width: 19px;height: 19px;margin-right: 4px;background: url(/edu/blog/images/icon/63.png) no-repeat;vertical-align: top;}
.more-list .favorites.on {color: #4285f4;}
.more-list .favorites:hover {color: #666;}
.more-list .favorites.on i {background: url(/edu/blog/images/icon/icon_1.png) no-repeat -40px -40px;margin-top: 1px;}
.more-list .favorites:hover i {background: url(/edu/blog/images/icon/icon_1.png) no-repeat left -40px;margin-top: 1px;}
.more-list .share-box {position: relative;margin-left: 20px;}
.more-list .share {color: #999;}
.more-list .share i {display: inline-block;width: 16px;height: 14px;background: url(/edu/blog/images/icon/64.png) no-repeat;vertical-align: middle;margin-right: 4px;margin-top: -3px;}
.more-list .share-box:hover .share {color: #666;}
.more-list .share-box.on .share {color: #4285f4;}
.more-list .share-box:hover .share i {background: url(/edu/blog/images/icon/icon_1.png) no-repeat left -80px;}
.more-list .share-box.on .share i {background: url(/edu/blog/images/icon/icon_1.png) no-repeat -40px -80px;}
.more-list .share-box:hover .bdsharebuttonbox, .more-list .share-box.on .bdsharebuttonbox {display: block;}
.more-list .bdsharebuttonbox {position: absolute;left: -30px;top: 30px;display: none;padding: 10px 14px;background: #fff;border: 1px solid #eee;border-radius: 6px;z-index: 1;}
.more-list .bdsharebuttonbox span {position: absolute;top: -10px;left: 46px;display: inline-block;width: 20px;height: 10px;background: #fff url(/edu/blog/images/icon/50.png) no-repeat;}
.more-list .bdsharebuttonbox a {display: block;padding-left: 42px;font-size: 14px;height: 32px;line-height: 32px;color: #333;background-image: url(/edu/blog/images/icon/icon_5.png);background-repeat: no-repeat;margin: 0 0 10px 6px;}
.more-list .bdsharebuttonbox a:hover {background-image: url(/edu/blog/images/icon/icon_5s.png);}
.more-list .bdsharebuttonbox a.bds_sqq {background-position: 0 bottom;}
.more-list .bdsharebuttonbox a.bds_tsina {background-position: 0 -59px;}
.more-list .bdsharebuttonbox a.bds_weixin {background-position: 0 0;}
.more-list .bdsharebuttonbox img {width: 84px;height: 84px;}
.you-like-list li {float: left;width: 45%;list-style: none;}
.you-like-list li a {display: block;line-height: 40px;padding-left: 18px;background: url(/edu/blog/images/dot2.png) no-repeat left center;color: #3d464d;font-size: 16px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
/*评论*/
.header-con {margin-left: -68px;}
.head-right {width: 660px;}
.comment-creat .header-img {display: block;}
.comment-creat .header-img img {display: block;width: 40px;height: 40px;overflow: hidden;border-radius: 50%;}
.textareadiv {width: 648px;height: 100px;font-size: 14px;padding: 10px;color: #999;border: 1px solid #eee;overflow: auto;outline: none;}
.textareadiv::-webkit-input-placeholder {color: #a9a9a9;}
.textareadiv:-moz-placeholder {color: #a9a9a9;}
.textareadiv:-ms-input-placeholder {color: #a9a9a9;}
.fitst-reply .textareadiv {width: 584px;height: 58px;}
.head-right .textareadiv {width: 648px;height: 58px;}
.comment-push {margin-top: 4px;}
.comment-push p {line-height: 28px;font-size: 12px;}
.comment-push .msg {color: #969696;}
.comment-push .publish-btn {padding: 0 20px;border-radius: 2px;cursor: pointer;}
.comment-push .disabled-btn {padding: 0 20px;border-radius: 2px;}
.comment-push .cancel-btn {padding: 0 20px;color: #999;cursor: pointer;}
.comment-push .cancel-btn:hover {color: #3c78dc;}
.comment-number {margin-top: 50px;margin-left: -30px;}
.comment-number p {display: inline-block;line-height: 1;}
.comment-number .number {font-weight: bold;font-size: 16px;color: #333;}
.comment-number .time {padding: 0 8px;line-height: 1;color: #969696;cursor: pointer;}
.comment-number .time:hover, .comment-number .time.on {color: #666;}
.comment-number .time-first {border-right: 1px solid #c4c4c4;}
.commentList-box {position: relative;left: 68px;top: 0;margin-bottom: 50px;width: 622px;}
.commentList {margin-top: 36px;}
.commentList-box .header-img {display: block;margin-right: 10px;}
.commentList-box .header-img img {display: block;width: 38px;height: 38px;border-radius: 50%;}
.comment-1 .top .name {display: block;line-height: 1.2;}
.comment-1 .top .name a {color: #333;}
.comment-1 .top .name a:hover {color: #4285f4;}
.comment-1 .top .name span.author, .comment-2-list .top .author {position: relative;color: #ff9902;padding: 0 6px;line-height: 18px;font-size: 12px;border: 1px solid #ff9902;border-radius: 2px;}
.comment-1 .top .name span.author {display: inline-block;margin-left: 6px;}
.comment-2-list .top .author {margin-right: 10px;}
.comment-1 .top .name i {position: absolute;left: -4px;top: 4px;display: inline-block;width: 4px;height: 7px;background: url(/edu/blog/images/icon/19.png) no-repeat;}
.comment-1 .top .time {font-size: 12px;color: #9d9d9d;line-height: 1.2;margin-top: 4px;}
.comment-1 .top .time span {line-height: 20px;margin-left: 20px;cursor: pointer;min-width: 22px;height: 20px;box-sizing: border-box;display: inline-block;}
.comment-1 .top .time span:first-child {margin-left: 0;}
.comment-1 .top .time .reply-btn {height: 17px;line-height: 15px;padding-left: 24px;background: url(/edu/blog/images/icon/53.png) no-repeat;margin-top: 3px;}
.comment-1 .top .time .remove {height: 18px;padding-left: 22px;background: url(/edu/blog/images/icon/54.png) no-repeat;margin-top: 2px;}
.comment-1 .top .time .zan {padding-left: 22px;background: url(/edu/blog/images/icon/65.png) no-repeat; color:#999;}
.comment-1 .top .time .zan:hover {color: #666;background: url(/edu/blog/images/icon/65s.png) no-repeat ;}
.comment-1 .top .time.on .zan {background: url(/edu/blog/images/icon/65es.png) no-repeat;color: #f69400;}
/*.comment-1 .top .time.on .zan:hover {background: url(/edu/blog/images/icon/icon_1.png) no-repeat -80px -120px;color: #ff7f00;}*/
.comment-1 .top .time .reply-btn:hover {color: #666;background: url(/edu/blog/images/icon/53s.png) no-repeat;}
.comment-1 .top .time .remove:hover {background: url(/edu/blog/images/icon/54s.png) no-repeat;}
.comment-1 .con {color: #666;line-height: 24px;margin-top: 10px;word-wrap:break-word}
.comment-1 .bot {margin-top: 14px;}
.comment-1 .bot p {float: left;cursor: pointer;line-height: 18px;margin-right: 20px;}
.comment-1 .bot .remove {color: #9d9d9d;}
.comment-1 .bot .zan {color: #9d9d9d;padding-left: 24px;background: url(/edu/blog/images/good.png) no-repeat left center;}
.comment-1 .bot.on .zan {color: #666;background: url(/edu/blog/images/good_2.png) no-repeat left center;}
.comment-1 .bot .answer {color: #9d9d9d;padding-left: 24px;background: url(/edu/blog/images/icon/21.png) no-repeat left center;}
.comment-1 .bot .answer:hover {color: #666;background: url(/edu/blog/images/icon/21s.png) no-repeat left center;}
.comment-2 {padding-left: 16px;border-left: 1px solid #e7e5e5;margin-top: 20px;}
.comment-2-list li {margin: 42px 0 0;list-style: none;}
.comment-2-list li:first-child {margin-top: 0;}
.comment-2-list .top {font-size: 14px;color: #333;line-height: 30px;}
.comment-2-list .top p {line-height: 30px;margin-right: 10px;}
.comment-2-list .top .name {font-size: 12px;color: #6a96ef;line-height: 20px;cursor: pointer;}
.comment-2-list .con {color: #666;font-size: 14px;}
.comment-2-list .bot {margin-top: 14px;}
.comment-2-list .bot p {float: left;font-size: 12px;color: #9d9d9d;line-height: 16px;}
.comment-2-list .bot .reply {margin-left: 20px;padding-left: 20px;color: #9d9d9d;background: url(/edu/blog/images/icon/55.png) no-repeat left center;cursor: pointer;}
.comment-2-list .bot .remove {margin-left: 20px;padding-left: 20px;color: #9d9d9d;background: url(/edu/blog/images/icon/56.png) no-repeat;cursor: pointer;}
.comment-2-list .bot .reply:hover {background: url(/edu/blog/images/icon/55s.png) no-repeat left center;color: #666;}
.comment-2-list .bot .remove:hover {background: url(/edu/blog/images/icon/56s.png) no-repeat;color: #666;}
.comment-2-list .comment-creat .textarea {width: 710px;}
.comment-2-list .comment-2-list-none {display: none;}
.fitst-reply {margin-top: 20px;}
.new-comment {font-size: 12px;color: #6a96ef;margin-top: 30px;cursor: pointer;}
.new-comment .top {margin: 10px 0; z-index: 0;position: relative;}
.new-comment .top p {float: left;}
.new-comment .top .new {color: #999;padding-left: 24px;background: url(/edu/blog/images/icon/25.png) no-repeat left center;cursor: pointer;}
.new-comment .top .new:hover {background: url(/edu/blog/images/icon/25s.png) no-repeat left center;}
.new-comment .top .pack-up {color: #999;margin-left: 20px;}
.new-comment .top .pack-up em {font-style: normal;}
.new-comment .top .pack-up span {color: #4285f4;cursor: pointer;}
.comment-push2 {margin-left: 14px;margin-top: 0;}
.new-comment .first-publish {display: none;}
.Index .Right h3.BoxTil {font-size: 16px;padding-left: 10px;border-left: 3px solid #4285f4;line-height: 1;font-weight: normal;margin-bottom: 15px;}
.Index .Right .Box  {margin-bottom: 30px;padding: 10px 20px;border:1px solid #EEE;background: #FFF;}
.Index .Right .articles {padding: 0;}
.filedown {line-height: 1;}
.filedown a {color: #5386ec;cursor: pointer;}
.filedown a:hover {text-decoration: underline;}
.group_img_box{ position: fixed;top: 50%; left: 50%; margin-left: 437px; text-align: center; height: 40px; width: 40px; cursor: pointer; }
.group_git_box img{ width: 100%; height: 100%;}
.group_code_box {
	display: none;
	background: #fff;
	text-align: center;
	width: 130px;
	position: absolute;
	top: -195px;
	left: -56px;
	padding: 14px;
	border: 1px solid #D9D9D9;
	border-radius: 6px;
	padding-bottom: 6px;
	color: #999;
}
.presell_icon{
	background: #FC5C60;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	height: 20px;
	line-height: 21px;
	padding: 0 10px;
	border-radius: 2px;
  float: left;
  margin-top: 5px;
  margin-right: 6px;	
  font-weight: 600;
}
.micro_clomun{
	background: #333;
	color: #fff;
}
.recommend-more-span{
	float: right;color: #757575;font-size: 14px;font-weight: 200;
}
.recommend-more-span:hover{
		color: #4285f4;
}
