.page1100 {width: 1100px;margin: 0 auto;}
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}
.fl {float: left;}
.fr {float: right;}
/*下拉框*/
.pulldown {position: relative;background: #fff;border: 1px solid #ccc;z-index: 2;}
.pulldown p {padding: 0 20px 0 10px;height: 34px;line-height: 34px;color: #555;margin-right: 10px;background: #fff url(/edu/blog/images/icon/08.png) no-repeat right center;border-radius: 2px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pulldown.on .pulldown-list {display: block;}
.pulldown-list {position: absolute;left: 0;top: 33px;width: 94%;background: #fff;padding: 3%;margin-left: -1px;border: 1px solid #ccc;border-radius: 2px;display: none;cursor: pointer;}
.pulldown-list li {height: 30px;line-height: 30px;color: #333;padding: 0 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pulldown li:hover {color: #1e90ff;background: #e0e0e0;}
.pulldown.on p {background: #fff url(/edu/blog/images/icon/08s.png) no-repeat right center;}
/*nolist*/
.noList {text-align: center;margin: 100px auto;}
.noList p {font-size: 16px;color: #999;line-height: 2;}
.noList span {display: block;font-size: 12px;color: #999;line-height: 1;}
.noList a {color: #4285f4;}
.artical-box .Left .noList {margin: 80px auto;}
.blog-my .Left .noList {margin: 50px auto;}
/*follow*/
.checkFollow {font-size: 14px;background-repeat: no-repeat;background-position: left center;cursor: pointer;}
.checkFollow.on {color: #4285f4;background-image: url(/edu/blog/images/icon/39.png);padding-left: 14px;}
.checkFollow.on:hover {color: #3477e6;background-image: url(/edu/blog/images/icon/39es.png);}
.checkFollow.in {color: #757575;background-image: url(/edu/blog/images/icon/40.png);padding-left: 17px;}
.checkFollow.off {color: #757575;background-image: url(/edu/blog/images/icon/41.png);padding-left: 14px;}
.checkFollow.mutual {color: #757575;background-image: url(/edu/blog/images/icon/42.png);padding-left: 14px;}
/*follow btn*/
.checkFollow-btn {line-height: 24px;font-size: 14px;padding: 0 20px;border-radius: 4px;padding: 0 20px 0 32px;background-repeat: no-repeat;background-position: 14px center;}
.checkFollow-btn.on {color: #fff;background-color: #4285f4;background-image: url(/edu/blog/images/icon/39s.png);border: 1px solid #4285f4;}
.checkFollow-btn.on:hover {color: #fff;background-color: #3477e6;border: 1px solid #3477e6;}
.checkFollow-btn.in {color: #757575;background-image: url(/edu/blog/images/icon/40.png);border: 1px solid #ccc;}
.checkFollow-btn.off {color: #757575;background-color: #fff;background-image: url(/edu/blog/images/icon/41.png);border: 1px solid #ccc;}
.checkFollow-btn.mutual {color: #757575;background-color: #fff;background-image: url(/edu/blog/images/icon/42.png);border: 1px solid #ccc;}
.checkFollow-btn.in:hover, .checkFollow-btn.off:hover, .checkFollow-btn.mutual:hover {background-color: #e6e6e6;}
.header-top .right-msg .checkFollow-btn.on {width: auto;border: 1px solid #4285f4;}
.header-top .right-msg .checkFollow-btn.on:hover {border: 1px solid #3477e6;}
.header-top .right-msg .checkFollow-btn.in {background-color: rgba(255,255,255,0.0001);}
.header-top .right-msg .checkFollow-btn.off {background-color: rgba(255,255,255,0.0001);}
.header-top .right-msg .checkFollow-btn.mutual {background-color: rgba(255,255,255,0.0001);}
.author-box-list li .checkFollow-btn, .follow-index-list li .checkFollow-btn {display: inline-block;margin-top :20px;background-color: #fff;}
.author-box-list li .checkFollow-btn.on, .follow-index-list li .checkFollow-btn.on {color: #4285f4;background-image: url(/edu/blog/images/icon/39.png);}
.author-box-list li .checkFollow-btn.on:hover, .follow-index-list li .checkFollow-btn.on:hover {color: #fff;background-image: url(/edu/blog/images/icon/39s.png);}
.author-box-list li .checkFollow-btn.in, .author-box-list li .checkFollow-btn.off, .author-box-list li .checkFollow-btn.mutual {border: 1px solid #eee;color: #666;}
.follow-index-list li .checkFollow-btn.in, .follow-index-list li .checkFollow-btn.off, .follow-index-list li .checkFollow-btn.mutual {border: 1px solid #eee;color: #666;}
/*search page*/
.search-artical-user .right-btn {color: #666;height: 24px;line-height: 24px;border: 1px solid #666;border-radius: 2px;background-repeat: no-repeat;background-position: 14px center;padding: 0 20px 0 32px !important;border-radius: 4px;}
.search-artical-user .right-btn.on {background-image: url(/edu/blog/images/icon/39ms.png);}
.search-artical-user .right-btn.in {background-image: url(/edu/blog/images/icon/40.png);}
.search-artical-user .right-btn.off {background-image: url(/edu/blog/images/icon/41.png);}
.search-artical-user .right-btn.mutual {background-image: url(/edu/blog/images/icon/42.png);}
.search-artical-user li:hover .right-btn.in,
.search-artical-user li:hover .right-btn.off,
.search-artical-user li:hover .right-btn.mutual {color: #666;border: 1px solid #666;}
.search-artical-user li:hover .right-btn {color: #4285f4;border: 1px solid #4285f4;}
.search-artical-user li:hover .right-btn.on {background-image: url(/edu/blog/images/icon/39.png);}
/*detail page*/
.artical-title-list a.checkFollow-btn {display: inline-block;padding: 0 8px 0 18px;line-height: 20px;border-radius: 10px;font-size: 12px;margin-top: 8px;border: 0 none !important;cursor: text;}
.artical-title-list a.checkFollow-btn:hover {background-color: #3c78dc;}
.artical-title-list a.checkFollow-btn.on {background-position: 7px center;background-color: #5386ec;}
.artical-title-list a.checkFollow-btn.on:hover {background-color: #4b78d5;}
.artical-title-list a.checkFollow-btn.in {background-position: 4px center;background-color: #eaeaea;color: #666;}
.artical-title-list a.checkFollow-btn.off {background-position: 8px center;background-color: #eaeaea;color: #666;}
.artical-title-list a.checkFollow-btn.mutual {background-position: 6px center;background-color: #eaeaea;color: #666;}
.author-checkFollow {}
.author-checkFollow a.checkFollow {display: inline-block;padding: 0 15px;line-height: 28px;padding-left: 26px !important;border-radius: 15px;}
.author-checkFollow a.checkFollow:hover {border: 1px solid #006fc0;color: #006fc0;}
.author-checkFollow a.checkFollow.on {border: 1px solid #4285f4;color: #4285f4;background-position: 14px center;}
.author-checkFollow a.checkFollow.on:hover {border: 1px solid #4b78d5;color: #4b78d5;}
.author-checkFollow a.checkFollow.in {border: 1px solid #ebebeb;color: #666;background-color: #ebebeb;background-position: 11px center;}
.author-checkFollow a.checkFollow.off {border: 1px solid #ebebeb;color: #666;background-color: #ebebeb;background-position: 15px center;}
.author-checkFollow a.checkFollow.mutual {border: 1px solid #ebebeb;color: #666;background-color: #ebebeb;background-position: 12px center;}
/*tanchuang*/
.msg-index-box {position: fixed;left: 50%;top: 30%;margin-left: -300px;width: 607px;padding: 25px 10px;border-radius: 10px;background: #fff;z-index: 9999;}
.msg-index-box .top-bg {position: absolute;left: 0;top: 0;width: 626px;height: 129px;background: url(/edu/blog/images/mbox2/01.png) no-repeat center top;}
.msg-index-box .follow-close {position: absolute;right: 14px;top: 14px;width: 19px;height: 18px;background: url(/edu/blog/images/mbox2/05.png) no-repeat;cursor: pointer;z-index: 1;}
.msg-index-box .con-box {position: absolute;left: 0;top: 0;width: 100%;}
.msg-index-box .icon-bg {position: absolute;top: 48px;left: 97px;}
.msg-index-box .icon-1 {width: 37px;height: 31px;background: url(/edu/blog/images/mbox2/02.png) no-repeat;}
.msg-index-box .icon-2 {width: 38px;height: 38px;background: url(/edu/blog/images/mbox2/03.png) no-repeat;}
.msg-index-box h2 {font-size: 26px;color: #4285f4;line-height: 1;text-align: center;margin-bottom: 20px;margin-top: 26px;}
.msg-index-box .con {font-size: 14px;line-height: 24px;color: #333;text-align:center;}
.msg-index-box .con a {color: #4285f4;}
.msg-index-box .code-bg {width: 148px;height: 135px;background: url(/edu/blog/images/mbox2/04.png) no-repeat;margin: 40px auto 0;}
.msg-index-box .code-bg img {background: #f50;}
.msg-index-box .btn-box {margin-top: 20px;text-align: center;}
.msg-index-box .btn-box p {display: inline-block;padding: 0 16px;height: 28px;line-height: 28px;font-size: 14px;border-radius: 6px;cursor: pointer;}
.msg-index-box .btn-1 {color: #666;border: 1px solid #fff;margin-right: 46px;}
.msg-index-box .btn-2 {color: #4285f4;border: 1px solid #4285f4;}
/*10000+*/
ul.aList li .intro p.hasdot {color: #ff864e;}
ul.aList li .intro p.hasdot i {display: inline-block;width: 13px;height: 13px;background: url(/edu/blog/images/icon/37.png) no-repeat;vertical-align: middle;margin-top: -20px;}
.artical-list .bot span.more {color: #ff864e;}
.artical-list .bot span.more i {display: inline-block;width: 13px;height: 13px;background: url(/edu/blog/images/icon/37.png) no-repeat;vertical-align: middle;margin-top: -20px;}
.search-artical .last .m-3-1.on {color: #ff864e;}
.search-artical .last .m-3-1.on i {display: inline-block;width: 13px;height: 13px;background: url(/edu/blog/images/icon/37.png) no-repeat;vertical-align: middle;margin-top: -20px;}
.artical-list .bot p.on {color: #ff864e;}
.artical-list .bot p.on i {display: inline-block;width: 13px;height: 13px;background: url(/edu/blog/images/icon/37.png) no-repeat;vertical-align: middle;margin-top: -20px;}
/*上新tab zjf20180620*/
.cloumn-tab-par {position: relative;}
.cloumn-tab-new {position: absolute;left: 0;top: 0;color: #fff;border-radius: 0 10px 10px 0;}
.cloumn-tab-new-1 {padding: 2px 8px 0 4px;line-height: 17px;}
.cloumn-tab-new-2 {padding: 0 9px 0 5px;line-height: 24px;}
.cloumn-tab1 {background: #fd5c61;}
.cloumn-tab2 {background: #ff9500;}
.cloumn-tab3 {background: #de2a00;}
/* 优惠券弹窗 */
.newcoupon-div {position: fixed;left: 50%;top: 50%;width: 440px;margin-left: -220px;margin-top: -274.5px;border-radius: 18px;z-index: 101;text-align: center;box-sizing: border-box;}
.newcoupon-div1 {height: 475px;background: url(/edu/blog/images/newcoupon-bg1.png) no-repeat center top;background-size: 100% 100%;}
.newcoupon-div2 {height: 521px;background: url(/edu/blog/images/newcoupon-bg2.png) no-repeat center top;background-size: 100%;}
.newcoupon-div span.close {position: absolute;top: 20px;right: 20px;width: 20px;height: 20px;background: url(/edu/blog/images/m/close.png) no-repeat;background-size: 100%;}
.newcoupon-div a {display: block;}
.newcoupon-div {padding-top: 35px;}
.newcoupon-div .tip {font-size: 13px;color: #c1b992;margin:0 auto;;width: 70%;background: url(/edu/blog/images/coupon-tip.png) no-repeat center;background-size: 100%;}
.newcoupon-div .number {font-size: 20px;color: #e9d265;}
.coupon-list {margin-top: 20px;}
.coupon-list li {width: 379px;height: 120px;box-sizing: border-box;margin: 29px auto 13px;background: url(/edu/blog/images/newcoupon-li.png) no-repeat center top;background-size: 100%;border-radius: 10px;}
.coupon-list li>a {width: 100%;height: 100%;display: inline-block;padding: 20px 24px 20px 27px;box-sizing: border-box;cursor: pointer;}
.coupon-list li:last-child {margin-bottom: 0;}
.coupon-list li .left {width: 90px;font-size: 26px;color: #c79e59;border-right: 1px solid #edf0f6;padding-right: 15px;line-height: 70px;text-align: right;overflow: hidden;}
.coupon-list li .left .price {font-size: 55px;}
.coupon-list li .right {width: 50%;line-height: 20px;text-align: left;margin-left: 15px;}
.coupon-list li .type {font-size: 18px;color: #222;margin-bottom: 3px;display: inline-block;}
.coupon-list li .time {font-size: 13px;color: #666;margin-bottom: 10px;display: inline-block;}
.coupon-list li .name {font-size: 16px;color: #999;display: inline-block;}
.newcoupon-div .btn-wrap1 {position: absolute;bottom: 20px;padding: 0 30px;}
.newcoupon-div .btn-wrap1>a {box-sizing: border-box;display: inline-block;width: 180px;height: 53px;text-align: center;line-height: 53px;font-size: 18px;border-radius: 10px;}
.newcoupon-div .btn-wrap1 .left {color: #e9d266;border: 1px solid #e9d266;background-color: inherit;margin-right: 20px;}
.newcoupon-div .btn-wrap1 .right {color: #2d2d2d;background-color: #e9d266;}
.mask3 {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.5);display: none;z-index: 100;}
/* 专栏作者荣誉icon */
.clo-author {position: relative;background-repeat: no-repeat;margin-top: 6px;}
.clo-author-big {width: 18px;height: 20px;background-image: url(/edu/blog/images/icon/clo-author1.png);}
.clo-author-litt {width: 16px;height: 18px;background-image: url(/edu/blog/images/icon/clo-author2.png);}
.clo-author .last {width: 50px;height: 24px;position: absolute;left: -25px;top: -26px;padding: 0 8px;font-size: 12px;line-height: 21px;color: #fff!important;background: url(/edu/blog/images/icon/clo-author-bg.png) no-repeat center;display: none;}
.clo-author:hover .last {display: block;}
