@charset 'utf-8';

/*zjf20170927*/


/*我要写文章*/

.iWantWrite {
  margin-bottom: 20px;
  height: 22px;
  padding: 12px 25px;
  position: relative;
  background: #FFF;
  border: 1px solid #EEE;
}

.iWantWrite p a {
  float: right;
  border-left: 1px solid #EEE;
  padding-left: 20px;
  color: #999;
  line-height: 22px;
  font-size: 12px;
}

.iWantWrite p span {
  font-size: 16px;
  color: #333;
  margin: 0 5px;
}

.iWantWrite .want-write {
  display: inline-block;
  width: 101px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
}

.iWantWrite a.want-write {
  padding-left: 40px;
  background: url(/edu/blog/images/03_110_1.png) no-repeat 5px center;
  color: #4285f4;
  margin-right: 10px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
}
.havedpush-article{
	display: inline-block;;
	float: right;
	line-height: 22px;
}
.iWantWrite a:nth-of-type(2) {
  padding-left: 65px;
  background: url(/edu/blog/images/03_110_2.png) no-repeat 32px center;
  color: #333;
  position: relative;
  right: -42px;
  top: 0;
  border-left: 1px solid #EEE;
}

.iWantWrite a:nth-of-type(2):hover{
  color: #4285f4;
}

.Index .Right h3.BoxTil {
  font-size: 16px;
  padding-left: 10px;
  border-left: 3px solid #4285f4;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 15px;
}

.Index .Right h3.BoxTil a.fr {
  font-size: 12px;
  color: #757575;
  margin-top: 4px;
}

.Index .Right h3.BoxTil a:hover {
  color: #4285f4;
}

.Index .Right .Box {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #EEE;
  background: #FFF;
}


/*公告*/

.News li {
  padding: 5px 0;
  word-wrap: normal;
  word-spacing: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.News li.f span {
  border-right: 1px solid #AAA;
  color: #4285f4;
  padding-right: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.News li a {
  color: #666;
}

.News li a.blue {
  color: #4285f4;
}

.News li a:hover {
  color: #3477e6;
}


/*推荐博主*/

.BlogerList li {
  overflow: hidden;
  padding: 16px 0;
  /*padding: 15px 0;*/
  list-style: none;
}

.BlogerList.bd li {
  border-top: 1px dotted #EEE;
}

.BlogerList li .pic {
  width: 48px;
  height: 48px;
  float: left;
}

.BlogerList.bd li .pic {
  padding-top: 6px;
}

.BlogerList li .pic img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.BlogerList li .main {
  float: right;
  width: 200px;
  overflow: hidden;
}

.BlogerList li .main h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1;
}

.BlogerList li .main dl {
  float: left;
  line-height: 1.3;
  width: 33%;
}

.BlogerList li .main dl:last-child {
  margin-right: 0;
}

.BlogerList li .main dt {
  font-size: 16px;
  margin-bottom: 5px;
  width: 60px;
  overflow: hidden;
}

.BlogerList li .main dd {
  font-size: 12px;
  color: #757575;
}

.BlogerList li .main p {
  font-size: 12px;
  color: #999;
}

.BlogerList li .main p span {
  margin-right: 10px;
  color: #666;
}

.BlogerList a.regBloger {
  display: block;
  border: 1px solid #4285f4;
  color: #4285f4;
  line-height: 30px;
  border-radius: 15px;
  margin: 10px 40px;
  text-align: center;
}

.BlogerList a:hover.regBloger {
  color: #366eca;
  border-color: #366eca
}

.Index .Right .articles {
  padding: 0;
}

.articles .tab {
  background: #f7f7f8;
  border-bottom: 1px solid #EEE;
  height: 36px;
}

.articles .tab p {
  float: left;
  line-height: 36px;
  padding: 0 20px;
  cursor: pointer;
}

.articles .tab p.cur {
  background: #FFF;
  border-top: 1px solid #4285f4;
  margin-top: -1px;
  height: 37px;
}

.articles .list {
  padding: 10px 15px;
}

.articles .list .seven-list {
  padding-top: 10px;
}

.articles .list .seven-list li {
  list-style: none;
}

.articles .list .seven-list a {
  display: block;
  padding-left: 15px;
  line-height: 16px;
  margin-bottom: 15px;
  word-wrap: normal;
  word-spacing: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url(/edu/blog/images/dot2.png) no-repeat left center;
}

.articles .list .seven-list a:hover {
  color: #4285f4;
}

.articles .list .seven-list .s1 a,
.articles .list .s2 a,
.articles .list .s3 a {
  background-image: url(/edu/blog/images/dot4.png);
}


/*侧导航*/

.jia1 {
  position: absolute;
  color: red;
  display: none;
}

.jia2 {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  z-index: 10;
}

.rightTools {
  position: fixed;
  right: 10px;
  bottom: 120px;
  width: 37px;
  z-index: 100;
}

.rightTools a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #DDD;
  text-indent: 100px;
  overflow: hidden;
  display: block;
  margin-top: 5px;
  border-radius: 3px;
}

.rightTools a.aa {
  background: #4285F4 url(/edu/blog/images/aa_02.gif) no-repeat center;
}

.rightTools a.yy {
  background: #FFF url(/edu/blog/images/yy.png) no-repeat center
}

.rightTools a.qq {
  background: #FFF url(/edu/blog/images/qq.png) no-repeat center
}

.rightTools a.gotop {
  background: #FFF url(/edu/blog/images/gotop.png) no-repeat center
}

.rightTools a:hover {
  background-color: #4285F4;
  border-color: #4285F4;
}

.rightTools a:hover.aa {
  background-image: url(/edu/blog/images/aa_01s.png);
  width: 100px;
  margin-left: -63px;
  color: #FFF;
  text-indent: 10px;
  background-position: 64px center;
  background-repeat: no-repeat;
}

.rightTools a:hover.yy {
  background-image: url(/edu/blog/images/yys.png);
}

.rightTools a:hover.qq {
  background-image: url(/edu/blog/images/qq_w.png);
}

.rightTools a:hover.gotop {
  background-image: url(/edu/blog/images/gotop_w.png);
}


/* 订阅专栏 */

.columnList {
  padding: 20px 15px !important;
}

.columnList ul,
.columnList li {
  list-style: none;
}

.columnList li {
  position: relative;
  min-height: 83px;
  margin-bottom: 32px;
}

.columnList li:last-of-type {
  margin-bottom: 0;
}

.columnList .columnImage {
  display: inline-block;
  position: absolute;
  width: 83px;
  height: 83px;
}

.columnList .columnImage img {
  width: 100%;
  height: 100%;
}

.columnList .rightContent {
  margin-left: 93px;
  height: 83px;
  position: relative;
}

.columnList p.columnTitle {
  position: relative;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  top: -4px;
}

.columnList .userInfo {
  color: #8b8b8b;
  font-size: 12px;
  line-height: 12px;
  margin-top: 9px;
}

.columnList .userInfo span {}

.columnList .ft {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 12px;
}

.columnList .price {
  line-height: 14px;
  text-indent: -3px;
  font-weight: bold;
}

.columnList .buyCount {
  color: #999999;
  font-size: 12px;
  line-height: 12px;
}


/* 订阅专栏 end */


/*七日热门*/

.articles .tab {
  background: #f7f7f8;
  border-bottom: 1px solid #EEE;
  height: 36px;
}

.articles .tab p {
  float: left;
  line-height: 36px;
  padding: 0 20px;
  cursor: pointer;
}

.articles .tab p.cur {
  background: #FFF;
  border-top: 1px solid #4285f4;
  margin-top: -1px;
  height: 37px;
}

.articles .list {
  padding: 10px 15px;
}

.articles .list a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.articles .list .BoxTil2-right-tit {
  width: 240px;
  overflow: hidden;
}

.articles .list .seven-list {
  padding-top: 10px;
}

.articles .list .seven-list a {
  display: block;
  padding-left: 15px;
  line-height: 16px;
  margin-bottom: 15px;
  word-wrap: normal;
  word-spacing: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: url(/edu/blog/images/dot2.png) no-repeat left center;
}

.articles .list .s1 a,
.articles .list .s2 a,
.articles .list .s3 a {
  background-image: url(/edu/blog/images/dot4.png);
}


/*我的博客*/

.articles .BoxTil2 {
  line-height: 1;
  font-size: 18px;
  font-weight: normal;
  color: #4285f4;
  margin-top: 10px;
}

.articles .BoxTil2-box {
  position: relative;
  margin-top: 10px;
  z-index: 1;
}

.articles .BoxTil2-box span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(/edu/blog/images/icon/23.png) no-repeat;
  cursor: pointer;
}

.articles .BoxTil2-box div {
  position: absolute;
  right: 0;
  top: 22px;
  text-align: center;
  padding: 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
}

.articles .BoxTil2-box div img {
  width: 86px;
  height: 86px;
}

.articles .BoxTil2-box div p {
  color: #666;
}

.articles .BoxTil2-box:hover div {
  display: block;
}

.articles .BoxTil3 {
  line-height: 1.2;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
.articles .BoxIcon{
  margin-top: 13px;
  position: relative;
}
.articles .BoxIcon:hover span{
  display: block;
}
.articles .BoxIcon span{
  width: 50px;
  height: 24px;
  position: absolute;
  left: -25px;
  top: -26px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 21px;
  color: #fff!important;
  background: url(/edu/blog/images/icon/clo-author-bg.png) no-repeat center;
  display: none;
}

.BoxTil3 span {
  position: relative;
  color: #4285f4;
  padding: 0 4px;
  line-height: 16px;
  border: 1px solid #4285f4;
  border-radius: 4px;
  margin-left: 12px;
}

.BoxTil3 i {
  position: absolute;
  left: -4px;
  top: 4px;
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url(/edu/blog/images/icon/19.png) no-repeat;
}

.articles .number-list {
  margin-top: 25px;
  margin-bottom: 10px;
}

.articles .number-list li {
  float: left;
  text-align: center;
  width: 24.5%;
  border-left: 1px solid #ccc;
  list-style: none;
}

.articles .number-list li:first-child {
  border-left: 0;
}

.articles .number-list li a.num {
  display: block;
  color: #444;
  line-height: 1;
  cursor: text;
}

.articles .number-list li p {
  font-size: 12px;
  color: #999;
  line-height: 1;
  margin-top: 14px;
}

.articles .num-arctic {
  color: #666;
  font-size: 16px;
}

.articles .num-arctic span {
  color: #666;
  font-weight: bold;
}

.articles .bottom {
  margin-top: 16px;
}

.articles .bottom .msg-title {
  position: relative;
  color: #333;
}

.articles .bottom .msg-title p {
  display: inline-block;
  max-width: 206px;
  vertical-align: text-top;
  max-height: 46px;
  overflow: hidden;
}

.articles .bottom .msg-title .icon {
  display: inline-block;
  width: 11px;
  height: 13px;
  background: url(/edu/blog/images/icon/61.png) no-repeat;
  cursor: pointer;
  margin-left: 6px;
}

.articles .bottom .msg-title i {
  display: inline-block;
  width: 16px;
  height: 12px;
}

.articles .bottom .msg-title i.l {
  background: url(/edu/blog/images/icon/22.png) no-repeat left top;
  margin-right: 10px;
}

.articles .bottom .msg-title i.r {
  position: absolute;
  bottom: 0;
  background: url(/edu/blog/images/icon/22s.png) no-repeat right bottom;
  margin-left: 10px;
}

.articles .bottom .title {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.articles .bottom .title a {
  display: inline;
  position: relative;
  top: -14px;
  padding: 0 20px;
  color: #4285f4;
  background: #fff;
  font-weight: normal;
  margin-top: -10px;
  cursor: text;
}

.articles .bottom .title a:hover {
  color: #3477e6;
}

.articles .bottom .my-list{
  margin-top: 20px;
}
.articles .bottom .my-list li {
  font-size: 12px;
  color: #666;
  line-height: 22px;
  list-style: none;
}

.articles .bottom .my-crouse-box {
  text-align: center;
  margin: 20px 0 10px;
}

.articles .bottom .my-crouse {
  display: inline-block;
  padding: 0 45px;
  height: 30px;
  line-height: 30px;
  color: #4285f4;
  background: #fff;
  border: 1px solid #4285f4;
  border-radius: 30px;
  cursor: pointer;
}

.articles .bottom .my-crouse:hover {
  background: #4285f4;
  color: #fff;
}


/*博主信息*/

.blogger-name {
  position: relative;
  z-index: 1;
}

.blogger .top {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.blogger .top .is-vip-bg-4 {
  display: inline-block;
  margin: 0 auto;
}

.blogger .top .left {
  display: block;
}

.blogger .top .left img {
  display: block;
  width: 76px;
  height: 76px;
  overflow: hidden;
  border-radius: 50%;
}

.blogger .top .right {
  text-align: center;
}

.blogger .top .right a {
  display: inline-block;
}

.blogger .top .right .tit {
  float: left;
  font-size: 18px;
  color: #1b1b1b;
  line-height: 1;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.blogger .top .right .name-box {
  display: inline-block;
}

.blogger .top .right .name-box p {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url(/edu/blog/images/icon/44.png);
  background-repeat: no-repeat;
  margin-left: 6px;
}

.blogger .top .right .name-box p:hover {
  z-index: 2;
}

.blogger .top .right .name-box p:hover .last {
  display: block;
}

.blogger .top .right .name-box .last {
  position: absolute;
  left: 24px;
  top: -2px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  display: none;
}

.blogger .top .right .name-box .last i {
  position: absolute;
  left: -4px;
  top: 7px;
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url(/edu/blog/images/icon/47.png) no-repeat left center;
}

.blogger .top .right .name-box .icon1 {
  background-position: center top;
}

.blogger .top .right .name-box .icon2 {
  background-position: center -45px;
}

.blogger .top .right .name-box .icon3 {
  background-position: center -92px;
}

.blogger .top .right .name-box .icon4 {
  background-position: center -139px;
}

.blogger .top .right .name-box .icon5 {
  background-position: center bottom;
}

.blogger .top .right .name-box .icon1 .last {
  width: 30px;
}

.blogger .top .right .name-box .icon2 .last {
  width: 50px;
}

.blogger .top .right .name-box .icon3 .last {
  width: 50px;
}

.blogger .top .right .name-box .icon4 .last {
  width: 30px;
}

.blogger .top .right .name-box .icon5 .last {
  width: 50px;
}

.blogger .top .right .name-index {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}

.blogger .top .right .name-msg {
  display: inline-block;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px;
  margin-left: 6px;
}

.blogger .bottom {
  margin-top: 56px;
}

.blogger .bottom .msg-title {
  color: #333;
  text-align: center;
}

.blogger .bottom .msg-title i {
  display: inline-block;
  width: 16px;
  height: 12px;
}

.blogger .bottom .msg-title i.l {
  background: url(/edu/blog/images/icon/22.png) no-repeat left top;
  margin-right: 10px;
}

.blogger .bottom .msg-title i.r {
  background: url(/edu/blog/images/icon/22s.png) no-repeat right bottom;
  margin-left: 10px;
}

.blogger .bottom .title {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.blogger .bottom .title a {
  display: inline-block;
  position: relative;
  top: -7px;
  color: #4285f4;
  background: #fff;
  font-weight: normal;
  margin-top: -10px;
}


/*zjf*/

.blogger .bottom .title a:hover {
  color: #3477e6;
}

.blogger-name-msg.on {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: 300px;
}

.blogger-name-msg.on .list {
  width: 270px;
}

.blogger-name-msg.on .bottom .msg-title {
  margin-bottom: 20px;
}

.blogger-name-msg.on .bottom .title {
  display: none;
  margin-top: 0;
}

.blogger-name-msg.on .bottom .seven-list {
  display: none;
}

.blogger-name-msg .bottom .seven-list {
  display: block;
}


/*最近来访*/

.come-round-list {
  margin: 0 14px;
  width: 240px;
}

.come-round-list li {
  float: left;
  text-align: center;
  width: 78px;
  padding: 15px 0;
  list-style: none;
}

.come-round-list a {
  display: block;
}

.come-round-list img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.come-round-list a.con {
  font-size: 12px;
  color: #3d464d;
  margin-top: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 21px;
}

.come-round-list a.con:hover {
  color: #4285f4;
}


/*关注提示信息*/

.index-msg-follow {
  position: relative;
  margin-bottom: 15px;
  z-index: 2;
  border: 1px solid #eee;
}

.index-msg-follow span {
  display: inline-block;
  padding: 5px 24px 6px 0;
  margin-left: 12px;
  line-height: 1.5;
  color: #e56861;
  background: url(/edu/blog/images/icon/43.png) no-repeat right 6px;
  cursor: pointer;
}

.index-msg-follow p {
  position: absolute;
  top: 32px;
  left: 42px;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  padding: 15px;
  background: #fff;
  border: 1px solid #efefef;
  display: none;
}

.index-msg-follow p i {
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 92px;
  width: 17px;
  height: 18px;
  background: url(/edu/blog/images/icon/03s.png) no-repeat;
}

.index-msg-follow:hover p {
  display: block;
}


/*粉丝榜*/

.followUsers-list {}

.followUsers-list li {
  border-top: 1px dashed #e9e9e9;
  line-height: 48px;
}

.followUsers-list li:first-child {
  border-top: 0;
}

.BlogerList.bd .followUsers-list li .pic {
  padding-top: 0px;
  margin-left: 16px;
}

.followUsers-list li .num-list {
  float: left;
  line-height: 48px;
  color: #333;
  margin-left: 10px;
}

.followUsers-list li .name {
  float: left;
  font-size: 16px;
  margin-left: 16px;
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.followUsers-list li .number {
  font-size: 14px;
  color: #333;
}

.followUsers-list li .checkFollow {
  display: none;
}

.followUsers-list li .followUsers-right {
  float: right;
  cursor: pointer;
}

.followUsers-list li:hover .followUsers-right .number {
  display: none;
}

.followUsers-list li:hover .followUsers-right .checkFollow {
  display: block;
}

.followUsers-list li.num-one .num-list {
  font-style: italic;
  color: #ec5636;
  font-size: 16px;
}

.followUsers-list li.num-one .name {
  color: #ec5636;
}

.followUsers-list li.num-two .num-list {
  font-style: italic;
  color: #ed8d33;
  font-size: 16px;
}

.followUsers-list li.num-two .name {
  color: #ed8d33;
}

.followUsers-list li.num-three .num-list {
  font-style: italic;
  color: #56a9e9;
  font-size: 16px;
}

.followUsers-list li.num-three .name {
  color: #56a9e9;
}


/*拼团新增*/

.columnList .group-master-free {
  height: 22px;
  line-height: 22px;
  margin-top: -4px;
}

.columnList .group-master-free:hover {
  color: #FC5C60;
}

.columnList .price {
  height: 20px;
  line-height: 20px;
}

.columnList .group-pirce {
  color: #8D8D8D;
  font-size: 12px;
  text-decoration: line-through;
  margin-left: 5px;
  height: 20px;
  line-height: 20px;
}

.columnList .jion-group-btn {
  width: 80px;
  padding: 4px 0;
  text-align: center;
  font-size: 12px;
  background: #FC5C60;
  color: #fff;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
}

.columnList .jion-group-btn .group-qrcode-box {
  position: absolute;
  top: -190px;
  right: -39px;
  width: 126px;
  text-align: center;
  padding: 12px 18px 18px 18px;
  z-index: 102;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  display: none;
}

.columnList .jion-group-btn .group-qrcode-box .qr-code {
  width: 126px;
  margin: 0 auto;
}

.columnList .jion-group-btn .arrow_logo {
  position: absolute;
  bottom: 16px;
  right: 33px;
  z-index: 103;
}

.columnList .jion-group-btn .group-qrcode-box p {
  color: #333;
  font-size: 12px;
  width: 126px;
  text-align: center;
  margin-top: 12px;
}

.columnList .group-timer-info p {
  color: #8D8D8D;
  font-size: 12px;
}

.columnList .group-timer-info p.groups-timer-right {
  margin-left: 5px;
}

.columnList .group-timer-info .groups-sub-info {
  margin-left: 3px;
}

.columnList .group-timer-info .groups-sub-info:hover {
  color: #FC5C60;
}

.ft .price {
  color: #333;
}

.recommend-more {
  text-align: center;
  font-size: 14px;
  color: #666;
  width: 260px;
  height: 35px;
  line-height: 35px;
  background: #F2F2F2;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  margin-bottom: 10px;
}

.recommend-more:hover {
  color: #4285f4;
}

.composer-list a:hover {
  color: inherit;
}

.composer-list-li p {
  line-height: 18px;
}

.composer-list-li {
  width: 270px;
  padding: 20px 15px;
  height: 107px;
  margin-top: 10px;
}

.composer-first-li {
  margin-top: 0;
}

.composer-list-li .composer-li-title {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 36px;
  width: 270px;
}

.composer-list-li .composer-li-absact {
  font-size: 14px;
  color: #33333;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 270px;
}

.composer-list-li .composer-li-activity {
  color: #FC5C60;
  font-size: 14px;
  margin-top: 6px;
  height: 14px;
}

.composer-list-li .composer-li-price {
  margin-top: 30px;
}

.composer-list-li .composer-li-newprice {
  font-size: 14px;
  color: #33333;
  font-weight: bold;
}

.composer-list-li .composer-li-oldprice {
  font-size: 12px;
  color: #33333;
  text-decoration: line-through;
  margin-left: 4px;
}