/*样式*/
.scrollbox{position: relative;}
.scrollbox .viewport{height: 300px;overflow:hidden;position:relative;}
.scrollbox .overview
{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
}

.scrollbox .scrollbar
{
    background:#FFFFFF;
    position:absolute;
    right: 8px;
    top:0;
    width:6px;
}

.scrollbox .track
{
    background:#FFFFFF;
    height:100%;
    width:6px;
    position:relative;
    /*! padding:0 1px; */
}

.scrollbox .thumb
{
    background:#ebebeb;
    height:20px;
    width:6px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0px;
    border-radius: 3px;
}

.scrollbox .thumb .end
{
    /*! background:#222; */
    overflow:hidden;
    height:0px;
    width:0px;
}

.scrollbox .disable
{
    display:none;
}

.noSelect
{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}