extends ../layout/admin
block content
	.header
		.container-fluid.clearfix
			.logo.col-2
				a(href="#") 豆瓣后台管理
			.navbar.col-10
				span 欢迎您:
					a(style="text-decoration:underline") #{user.username}
				a(href="") 主菜单
				a(target="_blank",href="/") 网站首页
				a(href="#") 微信端
				a(href="#") 修改密码
				a(href="/admin/layout") 退出
	.container-fluid.clearfix
		.sidebar.col-2 
			ul
				li.tit 视频管理
				li: a(href="/admin/movie/add")
					i.fa.fa-delicious
					span 添加视频
					i.fa.fa-angle-left
				li: a(href="/admin/movie/index")
					i.fa.fa-delicious
					span 视频管理
					i.fa.fa-angle-left
			ul
				li.tit 用户管理
				li: a(href="/admin/user/add")
					i.fa.fa-delicious
					span 添加用户
					i.fa.fa-angle-left
				li: a(href="/admin/user/index")
					i.fa.fa-delicious
					span 用户管理
					i.fa.fa-angle-left
			ul
				li.tit 分类管理
				li: a(href="/admin/cate/add")
					i.fa.fa-delicious
					span 添加分类
					i.fa.fa-angle-left
				li: a(href="/admin/cate/index")
					i.fa.fa-delicious
					span 分类管理
					i.fa.fa-angle-left
			ul
				li.tit 系统设置
				li: a(href="#")
					i.fa.fa-yelp
					span 友情链接
					i.fa.fa-angle-left
				li: a(href="#")
					i.fa.fa-cog
					span 网站配置
					i.fa.fa-angle-left
		.main.col-12
			block containerss