.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
a {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  font-size: 14px;
}
.row {
  width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-1 {
  width: 8.33% !important;
}
.col-2 {
  width: 16.66% !important;
}
.col-3 {
  width: 25% !important;
}
.col-4 {
  width: 33.33% !important;
}
.col-5 {
  width: 41.67% !important;
}
.col-6 {
  width: 50% !important;
}
.col-7 {
  width: 58.33% !important;
}
.col-8 {
  width: 66.67% !important;
}
.col-9 {
  width: 75% !important;
}
.col-10 {
  width: 83.33% !important;
}
.col-11 {
  width: 91.67% !important;
}
.col-12 {
  width: 100% !important;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.container-fluid {
  min-width: 1170px;
}
input {
  outline: none;
}
/* 表单 */
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 12px;
  height: 34px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-control:focus {
  border: 1px solid rgba(39, 141, 246, 0.5);
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 5px;
}
.form-group:after {
  display: block;
  content: '';
  clear: both;
}
.alink a.btn {
  padding: 3px 8px;
  margin: 0 3px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-blackish {
  color: #fff;
  background: #30A080;
  border-color: #30A080;
}
.btn-blackish-border {
  color: #30A080;
  border-color: #30A080;
  background: transparent;
}
.btn-blackish-border:hover,
.btn-blackish-border:focus,
.btn-blackish-border.focus,
.btn-blackish-border:active,
.btn-blackish-border.active {
  color: #2a8c70;
  border-color: #2a8c70;
  background: transparent;
}
.btn-blackish:hover,
.btn-blackish:focus,
.btn-blackish.focus,
.btn-blackish:active,
.btn-blackish.active {
  background-color: #2a8c70;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
i.require {
  color: #f60;
  font-family: serif;
}
.yellow {
  color: #ec971f;
}
.attention {
  color: #666666;
}
.hidden {
  display: none;
}
#browse {
  vertical-align: top;
  margin: 0 5px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header a {
  color: #fff;
}
.header .logo {
  height: 50px;
  line-height: 50px;
  background: #367fa9;
  text-align: center;
  font-size: 20px;
}
.header .navbar {
  height: 50px;
  line-height: 50px;
  text-align: right;
  background: #3c8dbc;
  color: #fff;
  padding-right: 50px;
}
.header .navbar span {
  font-size: 12px;
}
.header .navbar span a {
  border: 0;
}
.header .navbar a {
  font-size: 12px;
  padding: 0 15px;
  border-right: 1px solid rgba(238, 238, 238, 0.21);
}
.header .navbar a:last-child {
  border: 0;
}
.sidebar {
  background: #1a2226;
  color: #fff;
  min-height: 100%;
  position: fixed;
  top: 50px;
  padding: 0;
  left: 0;
}
.sidebar li {
  background: #222d32;
  line-height: 35px;
  font-size: 14px;
  padding: 5px 10px;
}
.sidebar li a {
  color: #b8c7ce;
}
.sidebar li a span {
  padding-left: 5px;
}
.sidebar li.tit {
  color: #4b646f;
  background: #1a2226;
  font-size: 12px;
}
.sidebar .fa-angle-left {
  float: right;
  line-height: 35px;
}
.admin-center {
  background: #eee;
}
.main {
  padding-top: 50px;
  padding-left: 16.66%;
  padding-right: 0;
}
.main .insertCont i {
  font-size: 12px;
  padding: 5px;
}
.main .insertCont span {
  font-size: 12px;
}
.main .insertCont tr > td:first-child {
  text-align: right;
  line-height: 34px;
}
.main .insertCont tr > td:nth-child(2) {
  line-height: 34px;
}
.operation {
  text-align: center;
}
.operation i {
  padding-right: 3px;
}
.admin-head {
  height: 80px;
  background: #f4f4f4;
  box-shadow: 0 2px 2px #ccc;
}
.admin-head .logo {
  line-height: 80px;
}
.admin-head .logo > span {
  padding-left: 20px;
  font-size: 16px;
  font-family: '黑体';
}
.admin-head .right-nav {
  text-align: right;
  line-height: 80px;
}
.admin-head .right-nav a {
  color: #333;
  font-size: 12px;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.admin-head .right-nav a:last-child {
  border-right: 0;
}
.admin-cont {
  width: 1120px;
  height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 560px);
}
.admin-cont .adv1 {
  height: 280px;
  margin: 60px 0px;
  padding: 0;
  border-right: 1px solid rgba(153, 153, 153, 0.42);
}
.admin-cont .adv1 .advimg {
  height: 100%;
  margin: 0 30px;
}
.admin-cont .adv1 .advimg img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 5px #ccc,0 2px 5px #ccc;
  border-radius: 20px;
}
.admin-login {
  font-size: 14px;
  padding: 30px 100px;
}
.admin-login label {
  text-align: right;
  line-height: 36px;
}
.admin-login label i {
  border: 1px solid rgba(34, 105, 203, 0.8);
  color: rgba(34, 105, 203, 0.8);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
}
.admin-login .form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.admin-login .code {
  color: #2269cb;
  cursor: pointer;
  text-align: center;
  line-height: 23px;
  padding: 6px 8px;
}
.admin-login .codeClick {
  background: #dadada;
  color: #868585;
}
.admin-login .message {
  font-size: 12px;
  color: red;
  text-align: center;
  height: 10px;
  line-height: 10px;
}
.admin-login .submit {
  margin-top: 10px;
  padding: 5px 10px;
}
.admin-login .submit .btn {
  font-size: 14px;
}
.admin-login .submit .btn-primary {
  border-radius: 31px;
}
.admin-login .reister {
  padding: 5px 10px;
}
.admin-login .reister .btn {
  font-size: 14px;
}
.admin-login .reister .btn-blackish-border {
  border-radius: 31px;
  border-color: #357ebd;
  color: #357ebd;
}
.admin-login .signtit {
  font-family: '黑体';
  font-size: 18px;
  margin: 15px 0;
  color: #2269cb;
}
.admin-login .signWith {
  text-align: center;
  color: #2269cb;
  padding: 8px 0;
}
.admin-login .sign-icon {
  text-align: center;
}
.admin-login .sign-icon i {
  border: 1px solid #b5b9bc;
  color: #b5b9bc;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  margin: 5px 5px;
}
.admin-login .sign-icon i:hover {
  border: 1px solid #2269cb;
  color: #2269cb;
  cursor: pointer;
}
.admin-footer {
  height: 40px;
  line-height: 40px;
  background: #eee;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  text-align: center;
  font-size: 12px;
}
.address {
  background: #f0f5f3;
  padding: 10px 0px;
  font-size: 12px;
  padding-left: 28px;
  letter-spacing: 2px;
  font-family: 'Arial';
  color: #999;
}
.address i {
  padding-right: 5px;
  font-size: 14px;
}
.address a {
  color: #999;
}
